.env*
venv
firebase_credentials
logs/

# Ignore Python cache files
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

firebase.json
